// body var
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
$bodyFont: 'Poppins', sans-serif;
$bfSize: 1.6rem;
$blineHeight: 2.6rem;
$fontWeight: 400;
$transition: all .5s linear;


